/backend/.vs/
/backend/Spec-Project/bin
/backend/Spec-Project/obj
/backend/Spec-Project/bin/
/backend/Spec-Project/bin/
/backend/Spec-Project/bin
/backend/Spec-Project/bin/
/backend/.vs/
/backend/.vs/
/backend/Spec-Project/bin/
/backend/Spec-Project/obj
/backend/Spec-Project/obj/
/backend/.vs/
